body{
    background-color: aqua;
    font-family: 'Kenia';
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    background-color: azure;
}
h2 { background-color: black;

}
img {
    border: 1px solid black;
}